.page {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .banner {
    height: 295px;
  }
  .login {
    width: 80%;
  }
}
