@import "~taro-ui/dist/style/index.scss";

.page {
  color: #9a969a;
  font-size: 32px;
  padding: 25px;
  .title {
    margin: 30px;
    position: relative;
    height: 2.8rem;
    color: #333;
    font-size: 60px;
    font-weight: 700;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: inline-block;
      width: 2.56rem;
      height: 4PX;
      border-radius: 1PX;
      background-color: #f4ea2a;
    }
  }
}
